doctype html

head
  meta(charset='UTF-8')
  title  FORM 
  link(rel='stylesheet' href='/assets/css/styleContacts.css')
  // Fontawesome CDN Link
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  
.container
  .content
    .left-side
      include ../molecules/phoneDetails
      include ../molecules/emailDetails 
    .right-side
      include ../molecules/formContacts 