doctype html
head
  meta(charset='utf-8')
  title Gallery
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css')
  script(src='/assets/javascript/scriptNav.js' defer='')
  script(src='/assets/javascript/scriptGallery.js' defer='')
  link(rel='stylesheet' href='/assets/css/styleGalleryPage.css')


h1 GALLERY 
include ../organisms/navBar
.container
  .wrapper
    include ../atoms/gallery/leftIcon
    include ../molecules/barGallery
    include ../atoms/gallery/rightIcon  

.image-container 
    include ../atoms/gallery/img1
    include ../atoms/gallery/img2
    include ../atoms/gallery/img3
    include ../atoms/gallery/img4
    include ../atoms/gallery/img5
    include ../atoms/gallery/img6
    include ../atoms/gallery/img7
    include ../atoms/gallery/img8
    include ../atoms/gallery/img9
    include ../atoms/gallery/img10
    include ../atoms/gallery/img11
    include ../atoms/gallery/img12
    include ../atoms/gallery/img13
    include ../atoms/gallery/img14
    include ../atoms/gallery/img15
    include ../atoms/gallery/img16
    include ../atoms/gallery/img17
    include ../atoms/gallery/img18
    include ../atoms/gallery/img19
    include ../atoms/gallery/img20
    include ../atoms/gallery/img21
    include ../atoms/gallery/img22
    include ../atoms/gallery/img23
    include ../atoms/gallery/img24
    include ../atoms/gallery/img25
    include ../atoms/gallery/img26
    include ../atoms/gallery/img27
    include ../atoms/gallery/img28
    include ../atoms/gallery/img29
    include ../atoms/gallery/img30
    include ../atoms/gallery/img31
    include ../atoms/gallery/img32
    include ../atoms/gallery/img33
    include ../atoms/gallery/img34
    include ../atoms/gallery/img35
    include ../atoms/gallery/img36
    include ../atoms/gallery/img37