doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Menus
  link(rel='stylesheet' href='/assets/css/styleMenus.css')
header
  .headersemlinha
    a.logo(href='#')
      img(src='/assets/images/imagensMenus/logotiporosa.png' alt='logotiporosa')
    .group
      ul.navigation
        li
          a(href='#') Home
        li
          a(href='congressos.html') Events
        li
          a.active(href='#') Menus
        li
          a(href='#') Gallery
        li
          a(href='#') Contacts
      .search
        span.icon
          img.searchBtn(src='/assets/images/imagensMenus/luparosa.png' alt='luparosa')
          img.closeBtn(src='/assets/images/imagensMenus/closerosa.png' alt='closerosa')
      img.menuToggle(src='/assets/images/imagensMenus/menumobilerosa.png' alt='menumobilerosa')
    img.line(src='/assets/images/imagensMenus/linharosa2.png' alt='linerosa2')
    .searchBox
      input(style='color: #FFD7CC;' type='text' placeholder='Search here...')
section.intro
  .s1textos
    h1
      | Menus 
      br
    .caixatexto
      p
        | We present you our rich and 
        br
        |  flavoured  thematic menus.
      br
      br
      p
        | Notice you can always mix plates and 
        br
        | create your own menu for your 
        br
        |  special ocasion!
section.victoriano
  .stickywraper
    .imgnumero
      img(src='/assets/images/imagensMenus/numero1.png' alt='numero1')
    .victorianotxt
      h2 victoriano
      h6 chic &amp; gourmet
    .elementwraper
      .element
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Tomatosa 
          h5
            | Pepper and tomato 
            br
            |  soup. Contains 
            br
            |  courgette, turnip, 
            br
            |  garlic and  rosemary.
      .element
        img.prato(src='/assets/images/imagensMenus/prato2.png' alt='pratito')
        .descreveprato
          h4  wonton Soup
          h5
            | Potato, turnip, carrot, 
            br
            |  leek, chickpeas, shrimp, 
            br
            |  cream, red pepper: best 
            br
            |  fusion for your mouth.
      .element
        img.prato(src='/assets/images/imagensMenus/prato3.png' alt='pratito')
        .descreveprato
          h4  Rose salmon
          h5
            | Roast golden salmon, 
            br
            |  accompanied by vegetables 
            br
            |  and caviar risotto. 
            br
            | Contains almonds.
      .element
        img.prato(src='/assets/images/imagensMenus/prato4.png' alt='pratito')
        .descreveprato
          h4  Kobe beef
          h5
            | From Japan to Bragan&ccedil;a, 
            br
            |  delicious Wagyu cow beef, 
            br
            |  along with creamy squash 
            br
            |  risotto with toasted pepitas.
      .element
        img.prato(src='/assets/images/imagensMenus/prato5.png' alt='pratito')
        .descreveprato
          h4  Nuts pie
          h5
            | Sweet cream of lemon and 
            br
            |  milk on a crunchy almond 
            br
            |  base, with a sparkle of red 
            br
            |  fruits on top.
      .element
        img.prato(src='/assets/images/imagensMenus/prato6.png' alt='pratito')
        .descreveprato
          h4  Raspbelle
          h5
            | Tartelete with yogurt 
            br
            |  and cheese sweet 
            br
            |  cream, combined with 
            br
            |  raspberries syrup.
section.sazonal
  .stickywraper2
    .imgnumero2
      img(src='/assets/images/imagensMenus/numero2.png' alt='numero2')
    .sazonaltxt
      h2 sazonal
      h6 vivid flavours
    .elementwraper2
      .element2
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup 
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element2
        img.prato(src='/assets/images/imagensMenus/2prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element2
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element2
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element2
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element2
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
section.oriental
  .stickywraper3
    .imgnumero3
      img(src='/assets/images/imagensMenus/numero3.png' alt='numero3')
    .orientaltxt
      h2 oriental
      h6 exotic scents
    .elementwraper3
      .element3
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup 
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element3
        img.prato(src='/assets/images/imagensMenus/3prato2.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element3
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element3
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element3
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
      .element3
        img.prato(src='/assets/images/imagensMenus/prato1.png' alt='pratito')
        .descreveprato
          h4  Avocado Soup
          h5
            | Exquisite cream based 
            br
            |  on courgette, ginger, 
            br
            |  leek, avocado, turnip 
            br
            |  and parsley.
script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
script.
  let searchBtn = document.querySelector('.searchBtn');
  let closeBtn = document.querySelector('.closeBtn');
  let searchBox =document.querySelector('.searchBox');
  let navigation = document.querySelector('.navigation');
  let menuToggle = document.querySelector('.menuToggle');
  let header = document.querySelector('header');
  searchBtn.onclick = function(){
  searchBox.classList.add('active');
  closeBtn.classList.add('active');
  searchBtn.classList.add('active');
  menuToggle.classList.add('hide');
  header.classList.remove('open');
  }
  closeBtn.onclick = function(){
  searchBox.classList.remove('active');
  closeBtn.classList.remove('active');
  searchBtn.classList.remove('active');
  menuToggle.classList.remove('hide');
  }
  menuToggle.onclick = function(){
  header.classList.toggle('open');
  searchBox.classList.remove('active');
  closeBtn.classList.remove('active');
  searchBtn.classList.remove('active');
  }
script.
  var windowWidth = window.innerWidth;
  var horizontalLengthss = document.querySelector(".elementwraper3").scrollWidth;
  var distFromTopss = document.querySelector(".oriental").offsetTop;
  var scrollDistancess = distFromTopss + horizontalLengthss - windowWidth;
  console.log(scrollDistancess);
  document.querySelector(".oriental").style.height = (horizontalLengthss) + "px";
  window.onscroll = function() {
  var scrollTopss = window.pageYOffset;
  if (scrollTopss >= distFromTopss && scrollTopss <= scrollDistancess){
  document.querySelector(".elementwraper3").style.transform = "translateX(-"+(scrollTopss - distFromTopss)+"px)";
  }
  }
script.
  var windowWidths = window.innerWidth;
  var horizontalLengths = document.querySelector(".elementwraper2").scrollWidth;
  var distFromTops = document.querySelector(".sazonal").offsetTop;
  var scrollDistances = distFromTops + horizontalLengths - windowWidths;
  console.log(scrollDistances);
  document.querySelector(".sazonal").style.height = (horizontalLengths) + "px";
  window.onscroll = function() {
  var scrollTops = window.pageYOffset;
  if (scrollTops >= distFromTops && scrollTops <= scrollDistances){
  document.querySelector(".elementwraper2").style.transform = "translateX(-"+(scrollTops - distFromTops)+"px)";
  }
  }
script.
  var windowWidth = window.innerWidth;
  var horizontalLength = document.querySelector(".elementwraper").scrollWidth;
  var distFromTop = document.querySelector(".victoriano").offsetTop;
  var scrollDistance = distFromTop + horizontalLength - windowWidth;
  console.log(scrollDistance);
  document.querySelector(".victoriano").style.height = (horizontalLength) + "px";
  window.onscroll = function() {
  var scrollTop = window.pageYOffset;
  if (scrollTop >= distFromTop && scrollTop <= scrollDistance){
  document.querySelector(".elementwraper").style.transform = "translateX(-"+(scrollTop - distFromTop)+"px)";
  }
  } 
 