ul.tabs-box
    include ../atoms/gallery/liAllPhotos 
    include ../atoms/gallery/liSpaces
    include ../atoms/gallery/liWeddings
    include ../atoms/gallery/liBaptisms 
    include ../atoms/gallery/liThemeParties
    include ../atoms/gallery/liBanquets
    include ../atoms/gallery/liCongresses 