.content
    h3 - ABOUT US -
    br 
    p
      | We work to make your dreams come true, to make your parties unique and special moments.
    p
      | We are creative and innovative, without ever jeopardizing the heritage of traditional knowledge, which makes our cuisine special. We know how to receive and prepare, for each special moment, the right atmosphere, the right decoration, the perfect menu, always with the guarantee of a personalized service, which we govern with the highest standards of control and quality.
    p
      | As if that were not enough, Quinta das Queimadas has the privilege of enjoying a spectacular view over the city of Bragan&ccedil;a. If your party is &ldquo;special&rdquo;, contact us!
    br