link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
link(rel='stylesheet' href='/assets/css/styleFooter.css')

section.footer
  .box-container
    include ../molecules/contactInfo
    include ../atoms/logoFooter
    include ../molecules/socialFooter 