link(rel='stylesheet' href='/assets/css/styleheader.css')

header
  .headersemlinha
    include ../atoms/logoHeader
    .group 
      include ../molecules/navigation
      include ../molecules/search
      include ../atoms/menuMobile
    include ../atoms/line
    include ../molecules/searchBox 

script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')

script.
  let searchBtn = document.querySelector('.searchBtn');
  let closeBtn = document.querySelector('.closeBtn');
  let searchBox =document.querySelector('.searchBox');
  let navigation = document.querySelector('.navigation');
  let menuToggle = document.querySelector('.menuToggle');
  let header = document.querySelector('header');
  searchBtn.onclick = function(){
  searchBox.classList.add('active');
  closeBtn.classList.add('active');
  searchBtn.classList.add('active');
  menuToggle.classList.add('hide');
  header.classList.remove('open');
  }
  closeBtn.onclick = function(){
  searchBox.classList.remove('active');
  closeBtn.classList.remove('active');
  searchBtn.classList.remove('active');
  menuToggle.classList.remove('hide');
  }
  menuToggle.onclick = function(){
  header.classList.toggle('open');
  searchBox.classList.remove('active');
  closeBtn.classList.remove('active');
  searchBtn.classList.remove('active');
  }
